<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Context" type="Context.Core.ConfigurationSectionHandler, Context.Core" requirePermission="false"/>
	</configSections>
	<Context>
		<Modules>
			<add ID="71FC5EAC-6C36-465c-AF04-97347E4D0A90" Name="Data" Assembly="Context.Data" Class="Context.Data.Module"/>
			<add ID="2F3E3DDF-D31A-4dd1-A437-CD2DF0FAC706" Name="NLog" Assembly="Context.Logging.NLog" Class="Context.Logging.NLog.Module"/>
		</Modules>
		<Services>
			<add ID="38359600-0A45-491b-92F2-92A060CC6BAE" Name="DataService" Module="71FC5EAC-6C36-465c-AF04-97347E4D0A90"/>
			<add ID="0B627327-D170-452c-90A9-10F62CD29AD2" Name="LogService" Module="2F3E3DDF-D31A-4dd1-A437-CD2DF0FAC706"/>
		</Services>
		<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<targets>
				<target name="logfile" xsi:type="AsyncWrapper">
					<target name="file" xsi:type="File" fileName="./Logs/log.txt" archiveFileName="./Logs/Archive/log.{#####}.txt" archiveAboveSize="1048576" archiveNumbering="Sequence" maxArchiveFiles="100"/>
				</target>
			</targets>
			<rules>
				<logger name="*" minlevel="Info" writeTo="logfile"/>
			</rules>
		</nlog>
	</Context>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
